<nz-spin [nzSpinning]="isLoadingSave">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <!-- 单据编码 -->
          <nz-form-label [nzSm]="6" [nzXs]="24">{{ 'documents.code' | translate }}</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <!--自动生成  -->
            {{ 'aoto.create' | translate }}
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <!-- 项目编码 -->
          <nz-form-label [nzSm]="6" [nzXs]="24">{{ 'project.code' | translate }}</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            {{ invoiceManagePurchase.proCode }}
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <!-- 项目名称 -->
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>{{ 'cost.item.name' | translate }}</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select
              style="widows: 100%;"
              nzShowSearch
              nzAllowClear
              formControlName="proArchivesId"
              id="proArchivesId"
              [(ngModel)]="invoiceManagePurchase.proArchivesId"
              nzPlaceHolder="{{ 'select.please.choose' | translate }}"
              (ngModelChange)="proChange($event)"
            >
              <nz-option *ngFor="let i of proList" [nzValue]="i.id" [nzLabel]="i.proName"></nz-option>
            </nz-select>
            <nz-form-explain
              *ngIf="validateForm.get('proArchivesId')?.dirty && validateForm.get('proArchivesId')?.errors"
            >
              <!-- 请选择项目名称-->
              {{ 'select.please.choose' | translate }}{{ 'cost.item.name' | translate }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <nz-card>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="24">
        <!-- 新增按钮 -->
        <button (click)="addRow()" nz-button nzType="primary">{{ 'button.add' | translate }}</button>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="24">
        <nz-table
          style="padding-top: 5px;"
          nzSize="small"
          class="tableTdPadding"
          #basicTable
          [nzData]="itemDataList"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
        >
          <thead>
            <tr>
              <!-- 序号 -->
              <th nzAlign="center">{{ 'milestone.serial.number' | translate }}</th>
              <!--首付款条线  -->
              <th>{{ 'first.payment.line' | translate }}</th>
              <!-- 里程碑 -->
              <th>{{ 'milestone.milestone' | translate }}</th>
              <!-- 金额 -->
              <th>{{ 'their.fees.money' | translate }}</th>
              <!--  未收票金额-->
              <th>{{ 'no.ticket.money' | translate }}</th>
              <!-- 本次收票金额 -->
              <th>{{ 'this.ticket.money' | translate }}</th>
              <!-- 操作 -->
              <th>{{ 'table.operation' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data; let i = index">
              <td nzAlign="center">{{ i + 1 }}</td>
              <td style="width: 20%;">
                <nz-select
                  style="width: 100%;"
                  nzShowSearch
                  [(ngModel)]="data.coArchivesId"
                  nzPlaceHolder="{{ 'select.please.choose' | translate }}"
                  (ngModelChange)="coArchivesChange(data)"
                >
                  <nz-option *ngFor="let i of coArchivesList" [nzValue]="i.id" [nzLabel]="i.planName"></nz-option>
                </nz-select>
              </td>
              <td style="width: 20%;">
                <nz-select
                  style="width: 100%;"
                  nzShowSearch
                  [(ngModel)]="data.proBusinessId"
                  nzPlaceHolder="{{ 'select.please.choose' | translate }}"
                  (ngModelChange)="proBusinessChange(data)"
                >
                  <nz-option
                    *ngFor="let i of data.proBusinessList"
                    [nzValue]="i.mileId"
                    [nzLabel]="i.mileName"
                  ></nz-option>
                </nz-select>
              </td>
              <td>
                <!-- <nz-input-number [(ngModel)]="data.price" [nzMin]="0" [nzStep]="1" [nzFormatter]="formatterDollar" [nzParser]="parserDollar"></nz-input-number> -->
                {{ data.price }}
              </td>
              <td>
                <!-- <nz-input-number [(ngModel)]="data.uncoPrice" [nzMin]="0" [nzStep]="1" [nzFormatter]="formatterDollar" [nzParser]="parserDollar"></nz-input-number> -->
                {{ data.uncoPrice }}
              </td>
              <td>
                <nz-input-number
                  [(ngModel)]="data.coPrice"
                  [nzMin]="0"
                  [nzMax]="10000000000"
                  [nzMax]="data.uncoPriceMax"
                  [nzStep]="1"
                  [nzFormatter]="formatterDollar"
                  [nzParser]="parserDollar"
                  (ngModelChange)="coPriceKeyUp(data)"
                ></nz-input-number>
              </td>
              <td>
                <!-- 是否删除 -->
                <a
                  nz-popconfirm
                  nzTitle="{{ 'table.Whether.to.delete' | translate }}?"
                  (nzOnConfirm)="deleteRow(data.sort)"
                  >{{ 'table.delete' | translate }}</a
                >
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-card>
</nz-spin>
<!-- 按钮 -->
<div class="base">
  <!-- 填写人 -->
  <strong>{{ 'fill.person' | translate }}:</strong>
  {{ invoiceManagePurchase.currentUser }}

  <!-- 填写时间 -->
  <strong>{{ 'fill.time' | translate }}:</strong>
  {{ invoiceManagePurchase.createTime }}
  <!-- 关闭按钮 -->
  <a
    nz-popconfirm
    nzTitle="{{ 'pm.contract.contract.add.button.cancel' | translate }}"
    (nzOnConfirm)="close()"
    style="padding-right: 8px"
  >
    <button nz-button>{{ 'pm.quotation.cancel' | translate }}</button>
  </a>
  <!-- 保存按钮 -->
  <button nz-button nzType="primary" class="ant-btn ant-btn-primary" (click)="submitForm()" [nzLoading]="isLoadingSave">
    <span>{{ 'pm.finish' | translate }}</span>
  </button>
</div>
